.block {
  margin-left: 2vw;
  text-align: justify;
}
.top {
  font-weight: bold;
  font-size: 20px;
  background-color: #219bc6;
  color: white;
  padding: 9px;
  margin-bottom: 1vw;
}
.bottom {
  background-color: #e7f4f6;
  padding: 9px;
}
.div1 {
  color: #5e0287;
  padding-bottom: 7px;
  margin: 10px;
}
.div2 {
  color: #39b0d4;
  margin: 10px;
}
.buttonLogin {
  background-color: #3c879e;
  color: white;
  width: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 8px;
  font-size: large;
}
